.search {
    -webkit-appearance: none;
    border: 0.5px solid gray;
    outline: none;
    padding: 5px;
    width: 150px;
    line-height: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    text-align: center;
}
